body {
    margin: 20px;
}

.avatar {
    width: 150px;
}

.card {
    font-family: "Lucida Console", "Courier New", monospace;
    width: 400px;
    margin: 0 auto;
    padding: 20px;  
    display: flex;
    justify-content: space-around;  
    text-align: center;
    color: #03045e;
    background: #caf0f8;
    border-bottom: 6px solid #3b09ff;
}

.border-blue {
    border: 1px dotted blue;
}